<h1>商品編集</h1>
<%= form_with model: @item, url: admin_item_path(@item.id), method: :patch do |f| %>

<h2>商品画像</h2>
<%= f.file_field :image, accept: "image/*" %>
<h2>商品名</h2>
  <%= f.text_field :name %>
</div>
<h2>商品説明</h2>
 <%= f.text_area :body %>
<h2>税抜き価格</h2>
 <%= f.text_field :price %>

 <%= f.submit "変更を保存", class: 'btn btn-secondary' %>

 <% end %>