<h1>
<%= @customer.first_name %><%= @customer.last_name %>さんの会員情報編集
</h1>

<h2>会員ID</h2>
 <%= @customer.id %>


<%= form_with model: @customer, url: admin_customer_path(@customer.id), method: :patch do |f| %>

<h2>氏名</h2>
  <%= f.text_field :first_name %> <%= f.text_field :last_name %>

<h2>フリガナ</h2>
<%= f.text_field :first_kana_name %> <%= f.text_field :last_kana_name %>

<h2>郵便番号</h2>
<%= f.text_field :postal_code %>

<h2>住所</h2>
<%= f.text_field :address %>

<h2>電話番号</h2>
<%= f.text_field :telephone_number %>

<h2>メールアドレス</h2>
<%= f.text_field :email %>

<%= f.submit "変更を保存", class: 'btn btn-secondary' %>
<% end %>