<h1>
<%= @customer.first_name %><%= @customer.last_name %>さんの会員詳細
</h1>

<h2>会員ID
<%= @customer.id %>
</h2>

<h2>氏名
  <%= @customer.first_name %> <%= @customer.last_name %>
</h2>

<h2>フリガナ
  <%= @customer.first_name_kana %> <%= @customer.last_name_kana %>
</h2>

<h2>郵便番号
  <%= @customer.postal_code %>
</h2>

<h2>住所
  <%= @customer.address %>
</h2>

<h2>電話番号
  <%= @customer.telephone_number %>
</h2>

<h2>メールアドレス
 <%= @customer.email %>
</h2>


<%= link_to "編集する", edit_admin_customer_path(@customer.id), class: 'btn btn-sm btn-success' %>